.cam-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera-container{
    margin-top: 20px;
    padding: 20px;
    background-color: #dfdfdf96;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px #0c0c0c4f;
}

.form-container{
    margin: 30px;
}