.instruction-container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #1a56fa6e;
    border-radius: 10px;
    background-color: #b1ebeb54;
    box-shadow: 3px 3px #0c0c0c4f;
}
.instruction-container .sub-header{
    padding: 0 40px;
}

.instruction-container p{
    margin: 20px 0;
    line-height: 26px;
    font-size: 17px;
}

.instruction-container h1{
    font-size: 34px;
}

.instruction-container li{
    list-style: none;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.instruction-container img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.instruction-container button{
    margin: 10px 20px 0 20px;
    padding: 5px;
    height: 70px;
    width: 70px;
    border-radius: 99%;
    font-size: 30px;
    border: 3px solid #0c0c0c;
    box-shadow: 4px 4px #af0c0c;
    outline:none;
}

.instruction-container .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}