.utility-button{
    margin: 10px 20px 0 20px;
    padding: 5px;
    height: 70px;
    width: 70px;
    border-radius: 99%;
    font-size: 30px;
    border: 3px solid #0c0c0c;
    box-shadow: 4px 4px #af0c0c;
    outline:none;
}

.utility-button:hover{
    border-color: #9e9e9e;
}

.utility-button:active{
    background-color: #e0e0e0;
    box-shadow: 1px 1px #af0c0c;
    position: relative;
    top: 3px;
}
