.emoji-cam {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-cam video{
    border-radius: 5px;
    box-shadow: -2px -2px #0c0c0c4f;

}

canvas {
    position: absolute;
}

.button-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}