.welcome-container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #dd9000e0;
    border-radius: 10px;
    box-shadow: 3px 3px #0c0c0c4f;
    background-color: #ffa6008c;
}

.welcome-container p{
    margin: 70px 0;
    line-height: 37px;
    font-size: 24px;
    padding: 0 40px;
}

.welcome-container h1{
    font-size: 52px;
}